{% load i18n %}{% autoescape off %}
{% blocktrans with first_name=user.first_name %}Hello {{ first_name }},{% endblocktrans %}

{% blocktrans %}You’re receiving this email because someone requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}

{% trans 'In case you asked for it please follow the link below to enter a new password:' %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% trans 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}

{% trans 'Thanks for using our site!' %}

{% blocktrans %}Your {{ site_name }} team{% endblocktrans %}
{% endautoescape %}

{% include 'misc/email/footer.txt' %}
