[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {extras = ["argon2"],version = "<2.2"}
django-guardian = "*"
django-simple-history = "*"
pillow = "*"
"psycopg2" = "*"
django-countries = "*"
pyuca = "*"
regex = "*"
"beautifulsoup4" = "*"
djangorestframework = "*"
drf-extensions = "*"
django-filter = "*"
raven = "*"
django-factory-boy = "*"
django-imagekit = "*"
selenium = "*"
randomcolor = "*"
requests-oauthlib = "*"
django-rest-auth = {git = "https://github.com/dgilge/django-rest-auth.git",editable = true,ref = "updates"}
"django-sendfile2" = "*"
django-allauth = "==0.36.0"
dangorestframework-camel-case = {git = "https://github.com/dgilge/djangorestframework-camel-case.git",editable = true,ref = "customize-parser"}
mailjet-rest = "*"
drf-yasg = "*"
docutils = "*"
xmldiff = "*"
lxml = "*"
plotly = "*"
pandas = "*"
django-redis = "*"
django-cachalot = "*"
celery = {extras = ["redis"]}
django-celery-beat = "*"
slackclient = "*"
hiredis = "*"
sqlparse = "*"
uwsgi = "*"
django-health-check = "*"
packaging = "*"
ipython = "*"
bleach = "*"

[dev-packages]
coverage = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-crispy-forms = "*"
selenium = "*"
tblib = "*"
werkzeug = "*"
pygments = "*"
markdown = "*"
coreapi = "*"
"flake8" = "*"
jupyter = "*"
black = "==18.9b0"
jupyter-contrib-nbextensions = "*"
isort = "*"
ipdb = "*"

[requires]
python_version = "3.6"

[scripts]
celery-worker = "celery -A langify worker -B -l info"
django-shell = "python manage.py shell_plus"
django-shell-sql = "python manage.py debugsqlshell"
django-server = "python manage.py runserver 127.0.0.1:8001"
jupyter-server = "python manage.py shell_plus --notebook"
makemigrations = "python manage.py makemigrations"
make-pdf = "python manage.py graph_models -a -g -o langify_models.pdf 2>/dev/null"
migrate = "python manage.py migrate"
npm-install = "npm install --prefix ../frontend --no-save"
nuxt-server = "npm run frontend:dev --no-save"
tests = "python manage.py test --settings=langify.settings_test --exclude selenium --exclude online --exclude slow -k"
